@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Forum');

html { overflow-x: hidden; }

.menu{
	border-right: 1px solid #E5E5E5;
}
.content{
			margin-right: 0;
		}
/* content_box */
	.content_box{
		margin-left: 8.1%;
		margin-top: 65px;
	}
/* content_box end */

/* about_me */
	.about_me_box1{
		
	}
	.about_me_box2{
		width: 73%;
	}
		h1{
			font-family: Forum;
			font-style: normal;
			font-weight: normal;
			line-height: 60px;
			font-size: 45px;
			letter-spacing: 0.15em;
			text-transform: uppercase;
			color: #2F3541;

			margin-bottom: 40px;
		}
		.card-body a{
			text-decoration: none;
			font-family: Forum;
			font-style: normal;
			font-weight: normal;
			line-height: 33px;
			font-size: 25px;
			letter-spacing: 0.15em;
			text-transform: uppercase;
			color: #2F3541;
		}
		p{
			font-family: Forum;
			font-style: normal;
			font-weight: normal;
			line-height: 26px;
			font-size: 20px;
			color: #2F3541;
		}
		.daria{
			position: fixed;
			left: 80%;
			top:0px;
			height: 100%;
		}
		ul{
    		list-style-image: url(../img/list.svg);
    		margin-top: 30px;
    		margin-left: -20px;
   		  }
			li{
				font-family: Forum;
				font-style: normal;
				font-weight: normal;
				line-height: 26px;
				font-size: 20px;
				color: #2F3541;
				padding-left: 15px;
				padding-bottom: 20px;/*????*/
			}
		.about_me_phone{
			font-family: Forum;
			font-style: normal;
			font-weight: normal;
			font-size: 25px;
			line-height: 33px;
			letter-spacing: 0.15em;
			text-transform: uppercase;
			text-decoration: none;
			color: #2F3541;
		}
/* about_me end */

/* contact */
	.contact_box{
		margin-top: 282px;
	}
	.contact_box a{
		font-family: Forum;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		line-height: 26px;
		text-decoration: none;
		color: #2F3541;
	}
	.contact_box .contact_phone{
		font-family: Forum;
		font-style: normal;
		font-weight: normal;
		font-size: 45px;
		line-height: 60px;
		letter-spacing: 0.15em;
		text-transform: uppercase;
		text-decoration: none;
		color: #2F3541;
	}
	.contact_phone_box{
		margin-bottom: 40px;
	}
	.contact_button{
		background-color: white;
		border: 1px solid #E5E5E5;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		line-height: normal;
		font-size: 12px;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		color: rgba(47, 53, 65, 0.5);
		padding: 24px 30px 21px 30px;
	}
	.contact_button{
		cursor: pointer;
	}
	.contact_button:hover{
		color: #2F3541;
		border-color: rgba(47, 53, 65, 0.5);
	}
/* contact end */

/* contact form */
/* moving placeholder */
	.h1_form{
		margin-bottom: 30px;
	}
	.form__group {
	  position: relative;
	  padding: 0 0 25px;
	}
	.form__group input:hover{
		border-color: rgba(47, 53, 65, 0.5);
	}
	textarea:hover{
		border-color: rgba(47, 53, 65, 0.5);
	}
	#form__group_textarea{
		padding-bottom: 0px;
	}

	.form__field {
	  font-family: inherit;
	  width: 402px;
	  height: 62px;
	  border: 1px solid #d2d2d2;
	  outline: 0;
	  font-size: 16px;
	  color: #212121;
	  padding: 7px 0;
	  box-sizing: border-box;
	  background: transparent;
	  transition: border-color 0.2s;
	  padding-left: 20px;
	}

	#textarea{
	  height: 150px;
	  padding-top: 21px;
	}

	.form__field::placeholder {
	  color: transparent;
	}

	.form__field:placeholder-shown ~ .form__label {
	  cursor: text;
	  top: 20px;
	  left: 15px;

	  font-family: Forum;
	  font-style: normal;
	  font-weight: normal;
	  font-size: 18px;
	  line-height: 24px;
	  color: rgba(47, 53, 65, 0.5);

	  background-color: white;
	  padding-left: 5px;
	  padding-right: 5px;
	}

	label,
	.form__field:focus ~ .form__label {
	  position: absolute;
	  top: -10px;
	  display: block;
	  transition: 0.2s;
	  font-size: 12px;
	  color: #9b9b9b;

	  font-family: Forum;
	  font-style: normal;
	  font-weight: normal;
	  font-size: 18px;
	  line-height: 24px;

	  left: 15px;

	  background-color: white;

	  padding-left: 5px;
	  padding-right: 5px;
	}

	.form__field:focus ~ .form__label {
	  /*color: #FD4B4B;*/
	  color: rgba(47, 53, 65, 0.5);
	}

	.form__field:focus {
	  padding-bottom: 6px; 
	  /*border: 1px solid #FD4B4B; border*/
	  border: 1px solid #E5E5E5;
	}


	.contact_form_button{
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			line-height: normal;
			font-size: 12px;
			letter-spacing: 0.2em;
			text-transform: uppercase;
			color: rgba(47, 53, 65, 0.5);
			background-color: #E5E5E5;
			padding: 25px 30px 20px 30px;
			border:0;
			margin-top: 62px;
			cursor: pointer;
		}

	/* moving placeholder end */

	/* upload button */
		.contact_upload_container{
		     position: relative;
		     z-index: 10;
		    margin-top: 32px;
		}
		.contact_upload_container img{
			vertical-align:middle;
			margin-right: 8px;
		}
		.contact_upload_container input[type=file] {
		     width: 0.1px;
		     height: 0.1px;
		     opacity: 0;
		     position: absolute;
		     z-index: -10;
		}
		.contact_upload_container label{
			font-family: Forum;
			font-style: normal;
			font-weight: normal;
			line-height: 24px;
			font-size: 18px;

			color: rgba(47, 53, 65, 0.5);
			left:0;
			top: 0;
			padding: 0;
		}
		.contact_upload_container label:hover {
		     cursor: pointer;
		}
		.contact_upload_container label.focus {
		     outline: 1px solid #0078d7;
		     outline: -webkit-focus-ring-color auto 5px;
		}
	/* upload button end */
/* contact form end */


/* 404 page */
	.content_404page{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: white;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.content_404page-p{
		font-family: Forum;
		font-style: normal;
		font-weight: normal;
		font-size: 75px;
		line-height: 99px;
		letter-spacing: 0.15em;
		text-transform: uppercase;
		color: #2F3541;
		margin-top: 142px;
		margin-bottom: 0px;
	}
	.content_404page-p2{
		margin-top: 0px;
		margin-bottom: 40px;
	}
	.content_404page a{
		margin-top: 70px;
	}

/* 404 page end */

/* notes */
	.note_box{
		margin-right: 23.2%;
	}
	.date_note{
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		line-height: normal;
		letter-spacing: 0.2em;
		text-transform: uppercase;

		color: rgba(47, 53, 65, 0.5);
	}
	.notes_links{
		text-decoration: none;
		font-family: Forum;
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		line-height: 33px;
		letter-spacing: 0.15em;
		text-transform: uppercase;
		border-bottom: 1px solid #E5E5E5;
		color: #2F3541;
	}
	.notes_links:hover{
		color: rgba(47, 53, 65, 0.5);
	}
	.note_link_box{
		margin-bottom: 50px;
	}
/* notes end*/

/* single page note */
	.single_n_box{
		margin-right: 23.2%;
	}
	.date_single_note{
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: normal;
		letter-spacing: 0.2em;
		text-transform: uppercase;

		color: rgba(47, 53, 65, 0.5);
	}
	.h1_single_note{
		margin-top: 15px;
		margin-bottom: 30px;
	}
/* single page note end */

@media only screen and (max-width:670px){
	.menuWrapper {
	   border-bottom: 1px solid #E5E5E5;
	   padding-bottom: 30px;
	}
	.content{
		margin-right: 20px;
		margin-bottom: 30px;
	}
	.content_box{
		margin: 0;
		margin-top: 30px;
		width: 100%;
	}	
	.single_n_box,.about_me_box2,.note_box{
		margin: 0px;
	}
	.contact_box{
		margin-top: 22%;
	}
	.form__field {
	  width: 302px;
	 }
	.daria{
		position: static;
		width: 100%;
		margin-bottom: -35px; 
	}
	.about_me_box2{
		width: 100%;
	}
	.content_404page-p{
		margin-left:20px;
		margin-right: 20px;
	}

}
@media only screen and (min-width:671px) and (max-width:1020px){
	.menu{
		padding-bottom: 40px;
		border:0;
		border-bottom: 1px solid #E5E5E5;
	}
	.content_box{
		margin: 50px 50px 0 50px;
	}
	.note_box,.single_n_box,.date_single_note,.content,.contact_box{
	    margin: 0;
	}
	.contact_box{
		margin-top: 22%;
	}
	.daria{
		position: absolute;
		left: 63.5%;
		top:140px;
		height: 140%;
	}
	.about_me_box2{
		width: 62%;
	}

}

@media only screen and (min-width:1021px) and (max-width:1900px){

}

@media only screen and (min-width:1901px){

	.daria{
		left: 65%;
	}
	.about_me_box2{
		width: 700px;
	}
	.content_404page-p{
		margin-top: 20%;
	}
}





#form_message span.text-error {
  position: absolute;
  top: 18px;
  margin-left: 30px;

  font-family: Forum;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;
color: #FD4B4B;
}