*{
	color: #2F3541;
}
body{
	margin: 0;
}
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Forum');
	/* menu block */
	.menu{
		position: fixed;
		left: 6.4%;
		top: 65px;

	}
		.menu__menu-links{
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: stretch;
			width: 95px;
			height: 117px;
			margin: 54.1px 0 60px -11px;
		}
		.menu__menu-links a{
			text-decoration: none;
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			line-height: normal;
			font-size: 12px;
			letter-spacing: 0.2em;
			text-transform: uppercase;
			color: rgba(47, 53, 65, 0.5);
		}
		.menu__instagram{
			text-decoration: none;
			display: block;
			font-family: Forum;
			font-style: normal;
			font-weight: normal;
			line-height: 24px;
			font-size: 18px;
			width: 72px;
			height: 24px;
			border-bottom: 1px solid #C4C4C4;
			
		}
		.menu__menu-links img{
			margin-right: 5.5px;
			visibility: hidden;
		}
	/* menu block end */

	/* content block */
		.content{
			margin: 35px 0 0 18.36%;
		}
			.photo{
				width: 100%;
				z-index: 7;
			}
			.content img:nth-child(6n + 2n){
				width: 50%;
				color: yellow;
			}
			.content img:nth-child(6n + (2n-1)){
				width: 50%;
				color: orange;
			}
			/*.content__photo1{
				background-image: url(img/photo/1-1.jpg);
			}*/
	/* content block end */

.current a{
	color: #2F3541;
}
.current img{
	visibility: visible;
}

/* img hover button */
	.holder{
position:relative;
width: 30%;
display: inline-block;
}
.block{
position:absolute;
left:0;
bottom:0;
right:0;
padding:20px;
display:none;
}
.modal{
	position: absolute;
	left: 20px;
	top: 20px;
	background-color: white;
	z-index: 10;
	display: none;
}
.modal-overlay{
	z-index: 9;
	background-color: white;
	opacity: 1;

}
.holder:hover .block{
display:block;
}
/* img hover button end */
	.img_button{
		background-color: white;
		border: 1px solid #E5E5E5;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		line-height: normal;
		font-size: 12px;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		color: rgba(47, 53, 65, 0.5);
		z-index: 8;
	}
/* modal window */
